body{
	background-color: #D5BEA5 !important;
	padding-top: 90px;
}

.content{
	background-color: #E4D2BF !important;
}

.centered{
	text-align: center !important;
}

#lightbox-container-image-data-box{
	margin-bottom: 20px !important;
}